/* #1 Regular Weight */
@font-face {
	font-family: "TitilliumWeb";
	font-style: normal;
	font-weight: normal;
	src: url("TitilliumWeb-Regular.ttf") format("truetype");
}

/* #2 Italic Style */
@font-face {
	font-family: "TitilliumWeb";
	font-style: italic;
	font-weight: normal;
	src: url("TitilliumWeb-Italic.ttf") format("truetype");
}

/* #3 Bold Weight */
@font-face {
	font-family: "TitilliumWeb";
	font-style: normal;
	font-weight: bold;
	src: url("TitilliumWeb-Bold.ttf") format("truetype");
}

/* #4 Bold Italic Style */
@font-face {
	font-family: "TitilliumWeb";
	font-style: italic;
	font-weight: bold;
	src: url("TitilliumWeb-BoldItalic.ttf") format("truetype");
}